{
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "none",
  "__ plugins": ["prettier-plugin-tailwindcss"],
  "__ tailwindFunctions": ["css"],
  "endOfLine": "auto"
}
